.banner{
  width:100%;
  height:300px;
  background-color: #333;
  position:relative;
  display:table;
}
.banner-wrapper{
  width:100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.create-title{
  color: white;
}

.pick-container{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  margin-left:30px;
  margin-right:30px;
}
.col-lg-5{
  text-align: center;
}
.col-lg-offset-3{
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
}