.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#sensitive{
  width:800px;
}

ul{
  height: 30px;
}
li{
  display:inline-block;
  padding-left:20px;
  padding-top:10px;
}
.welcome-container{
  width:100%;
  height:400px;
  background-color: #333;
  position:relative;
  display:table;
}
.welcome-inner{
  width:100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.welcome-title{
  color: white;
}

.create-container{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px
}
.col-lg-4{
  text-align: center;
}