.jumbotron{
    background: url('https://d36m266ykvepgv.cloudfront.net/uploads/media/CyAV9Ho6CT/s-1600-1068/the-pull-deepthi-indukuri-7424.jpg');
    background-size: cover;
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    
}

.half{
    width:100%;
    height:50%;
    background-color:#04306B;
    opacity:0.8;
    position:absolute;
    top:50%;
}

.scoreboard{
    height: 80px;
    background-color:#04306B;
    opacity:1.0;
    position:relative;
    top:50%;
}



.col-centered{
    float: none;
    margin: 0 auto;
}

.team{
    height:100%;
    width:40%;
    /*border:1px solid red;*/
    display:inline-block;
    vertical-align: top;
    text-align: center;
}

h2{
    color:black;
}

.away{
    float:right;
}

.scoreContainer{
    width:20%;
    height:100%;
    background-color:white;
}

.homes{
    display:inline-block;
    text-align:left;
    vertical-align: top;
}

.aways{
    float:right;
    text-align:right;
    
}
.logo{
    width:24%;
    height:100%;
    
}

.img-circle{
    border:2px solid #DDD;
    width:100%;
    height: 100%;
    display:inline;
}

.name{
    /*border:1px solid white;*/
    height:100%;
    width:75%;
    /*display:inline-block;*/
}

.team-title{
    color:white;
}



.button-container{
    position:relative;
    /*bottom:137px;*/
    bottom:140px;

}

.btn{
    cursor: pointer;
}

.home-btn{
    float:left;
    clear:right;
    position:relative;
    left:35%;
}
.away-btn{
    float:right;
    position:relative;
    opacity:1.5; 
    position:relative;
    right:35%;
    /*bottom:150px;*/
}

.edit-btn{
    position:absolute;
    top:70px;
    left:10px;
}
@media (max-width: 768px) {
    .button-container{
        bottom:200px;
    }
    .away-btn{
        right:20%;
    }
    .home-btn{
        left:20%;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        height: 300px;
    }
    .scoreboard{
        height:60px;
        top:37%;
    }
    .logo{
        width:47%;
    }
    .name{
        width:50%;
    }

    .edit-btn{
        top:50px;
    }
.button-container{
        bottom:137px;
    }
}

